body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(236, 232, 232);
}

h1{
    font-size: 70px;
    padding-left: 5%;
    color: rgb(19, 19, 19);
}
h2{
    font-size: 40px;
    padding-left: 5%;
}

.flexclass{
    display: flex ;
}

.introtext{
    text-align: left;
}   
.intropara{
    padding-left: 5%;
    font-size: 28px;
    color: rgb(31, 31, 31);
}
.wid50{
    width: 50%;
}
.img1{
    width: 700px;
}
.img2{
    margin-top: 5%;
    height: 450px;
}
.highlight{
    color: blueviolet;
}
a{
    margin-left: 5%;
    background-image: linear-gradient(rgb(128, 218, 253),rgb(0, 137, 190));
    text-decoration: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}
a:hover{
    background-image: linear-gradient(rgb(0, 137, 190),rgb(128, 218, 253));
}

.sec{
    margin-bottom: 150px;
}

#aboutsec{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head{
    text-align: center;
    color: rgb(59, 59, 59);
}

.aboutpara{
    padding: 0 5%;
    font-size: 28px;
    color: rgb(73, 73, 73);
    text-align: justify;
}

#contactbtn{
    background-image: linear-gradient(rgb(158, 248, 226),rgb(161, 247, 0));
    color: black;
}
#contactbtn:hover{
    background-image: linear-gradient(rgb(161, 247, 0),rgb(158, 248, 226));
}
.myrecipeintro{
    text-align: center;
    padding: 0 20% 20px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}
.card {
    background-color: white;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.116);
    border-radius: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    height: 400px;
  }
  .card:hover {
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.425);
  }

  .foodimg{
      padding:15px;      
  }
 .item {
    width: 270px;
    height: 180px;
    border-radius: 20px;
    object-fit:cover;
  }

  .subscriber{
    font-family: 'Otomanopee One', sans-serif;
    width: 100%;
    height: auto;
    padding: 0 0;
    margin: 0 5%;
    border-radius: 16px;
    text-align: center;
    background-color: white;
    text-align: center;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 23, 66);
    color: rgb(255, 255, 255);
  }